<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Oswald:wght@200&display=swap" rel="stylesheet">
        <title>VideoJuegos</title>
        <nav class="navbar">
            <Ul class="links">
                <li><a href="{{ url_for('Index') }}"><img src="https://static.vecteezy.com/system/resources/previews/018/873/700/non_2x/game-controller-gamepad-for-game-console-free-png.png" width="50"></a></li>
                <li><a href="{{ url_for('Empresas') }}">Empresas</a></li> 
                <li><a href="{{ url_for('Plataformas') }}">Plataformas</a></li> 
                <li><a href="{{ url_for('Generos') }}">Generos</a></li> 
            </Ul>
        </nav> <br>
    </head>
    <body> <br>
        <center><header><h1>Empresas</h1></header></center> <br><br>
        <header><h2>¿Qué son las Empresas?</h2></header> <br>
        <p>
            <p class="int">
                La empresa desarrolladora del juego se refiere a la compañía responsable de crear 
                y producir el juego. Cada empresa tiene su propio estilo y enfoque, lo que puede 
                influir en el diseño, la calidad y el ambiente del juego. Cada empresa desarrolladora 
                tiene su identidad única y suele ser reconocida por ciertas características que se reflejan 
                en sus juegos. Estas características pueden incluir aspectos como la calidad gráfica, la 
                narrativa, la jugabilidad y la innovación técnica.<br> <br>
                Aquí tienes algunos ejemplos: <br> <br>
                • Nintendo: <br>
                Ees una reconocida empresa japonesa de videojuegos que ha dejado una huella significativa 
                en la industria. Fundada en 1889 como fabricante de cartas de juego, Nintendo ha evolucionado 
                hasta convertirse en una de las empresas líderes en el desarrollo y producción de juegos y consolas. 
                Se caracteriza por su enfoque en la innovación y la creatividad. La compañía es conocida por crear 
                franquicias icónicas y personajes queridos, como Super Mario, The Legend of Zelda y Pokémon.  <br><br>
                • Tencent: <br>
                Es una empresa china de tecnología y entretenimiento que ha crecido hasta convertirse en una 
                de las compañías más grandes y poderosas del mundo en la industria de los videojuegos. 
                Fundada en 1998, Tencent se ha diversificado en varios ámbitos, incluyendo los juegos en línea, 
                los servicios de redes sociales y la tecnología de inteligencia artificial. Es conocida por su 
                enfoque en los juegos en línea y los juegos para dispositivos móviles. <br><br>
                • Ubisoft: <br>
                Es una destacada empresa francesa de desarrollo y publicación de videojuegos. Fundada en 1986, 
                la compañía se ha ganado una reputación por crear juegos de alta calidad y experiencias de juego 
                inmersivas. Ubisoft es conocida por su enfoque en los juegos de mundo abierto y la creación de 
                mundos virtuales vastos y detallados. Sus títulos más reconocidos incluyen la serie Assassin's Creed, 
                Far Cry, Watch Dogs y Tom Clancy's Rainbow Six. <br><br>
        </p>
    </body> <br>
    <footer>
        Juan Pablo Solis - Esteban Zambrano - Edwin Ortega<br>
        Realizado en: 2023 Copyright &copy; 2023
    </footer>