<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Oswald:wght@200&display=swap" rel="stylesheet">
        <title>VideoJuegos</title>
        <nav class="navbar">
            <Ul class="links">
                <li><a href="{{ url_for('Index') }}"><img src="https://static.vecteezy.com/system/resources/previews/018/873/700/non_2x/game-controller-gamepad-for-game-console-free-png.png" width="50"></a></li>
                <li><a href="{{ url_for('Empresas') }}">Empresas</a></li> 
                <li><a href="{{ url_for('Plataformas') }}">Plataformas</a></li> 
                <li><a href="{{ url_for('Generos') }}">Generos</a></li> 
            </Ul>
        </nav> <br>
    </head>
    <body> <br>
        <center><header><h1>Generos</h1></header></center> <br><br>
        <header><h2>¿Qué son los Generos?</h2></header> <br>
        <p>
            <p class="int">
                El género de un juego se refiere a su categoría temática principal, y desempeña un papel 
                fundamental en la experiencia de juego y en los elementos que componen el juego en sí. 
                Cada género tiene características distintivas que definen cómo se juega y qué se puede 
                esperar de él.<br> <br>
                Algunos ejemplos de géneros populares son: <br> <br>
                • Acción: <br>
                Estos juegos están llenos de adrenalina y emoción. ¡Prepárate para 
                la acción sin descanso, combates intensos y explosiones que te dejarán sin aliento! <br><br>
                • Mundo abierto: <br>
                Sumérgete en vastos mundos llenos de posibilidades y libertad. 
                Explora paisajes impresionantes, realiza misiones épicas y descubre secretos ocultos
                 a tu propio ritmo. <br><br>
                • Rompecabezas: <br>
                Pon a prueba tu ingenio y habilidades de resolución de 
                problemas con juegos que te desafían con enigmas y acertijos intrincados. 
                ¡Prepárate para ejercitar tu mente y sentirte satisfecho cuando encuentres la solución! <br><br>
        </p>
    </body> <br>
    <footer>
        Juan Pablo Solis - Esteban Zambrano - Edwin Ortega<br>
        Realizado en: 2023 Copyright &copy; 2023
    </footer>